.modal {
  font-family: sans-serif;
position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.8);
}
body.blocked {
  overflow: hidden;
}
.modal-content {
  background-color: #393b38;
  padding: 30px;
  border-radius: 10px;
  text-align: center;
  font-size: 18px;
  min-width: 1000px;
  max-width: 1000px;
  max-height: 80%;
  overflow-y: auto;
  border: 2px solid #ffffff;
  border-radius: 8px;
  padding: 10px;
  margin: 10px;
  display: inline-block;
}

.modal-content p{
    margin: 15px;
    line-height: 1.5;
}
.modal-content button{
  padding: 1.3em 3em;
  font-size: 12px;
  text-transform: uppercase;
  letter-spacing: 2.5px;
  font-weight: 500;
  color: #ffffff;
  background-color: #545752;
  border: none;
  border-radius: 45px;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease 0s;
  cursor: pointer;
  outline: none;
  margin: 10px;
}
.modal-content button:hover{
 background-color: #7c7c7c;
  box-shadow: 0px 15px 20px rgba(92, 92, 92, 0.4);
  color: #fff;
  transform: translateY(-7px);
}
.modal-content button:active{
  transform: translateY(-1px);
}
.AnimeCard {
    border-radius: 8px;
    border: 2px solid ;
    border-color: #ffffff;
}
.AnimeCardSmall {
    margin: 5px;
    max-height: 225px;
    border-radius: 8px;
    border: 2px solid ;
    border-color: #ffffff;
}
